body {
    font-family: "Lato", 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #082B59;
    padding: 20px 0;
    border-bottom: 10px solid #D98555;
    box-sizing: border-box;

}

header img {
    height: 180px;
    width: auto;
    margin-right: 20px;
    box-sizing: border-box;

}

h1 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
}

header h1 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

h2 {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #2c3e50;
    font-size: 40px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

p2 {
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    margin-bottom: 20px;
}


*/ .logo a {
    font-size: 1.125rem;
    font-weight: 500;
}

.navbar {
    justify-content: end;
    box-sizing: border-box;

    */
}

.navbar-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    flex-grow: 1;
    float: left;
    justify-content: flex-start;
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.nav {
    flex-wrap: wrap;
    flex-shrink: 3;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    /* width: 100vw; */
    box-sizing: border-box;
    padding: 60px;
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.content {
    text-align: left;
    margin-right: 40px;
    box-sizing: border-box;

}

.flex-container {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    /* width: 100vw; */
    box-sizing: border-box;
    padding: 50px;
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.image-container {
    /* width: 100vw; */
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    /* Ensure image doesn't exceed its original width */
}


}

footer {
    background-color: #082B59;
    color: white;
    text-align: center;
    padding: 40px 0;
    box-sizing: border-box;

}

footer a {
    color: #f2f2f2;
    text-decoration: none;
    margin: 0 20px;
}

footer a:hover {
    text-decoration: underline;
}

.social-icons img {
    width: 30px;
    margin: 0 10px;
    vertical-align: 80%;
    padding: 40px;
}

/* For Mobile */
@media (max-width: 576px) {
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
}

/* For Tablets */
@media (min-width: 577px) and (max-width: 992px) {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* For Desktops */
    @media (min-width: 993px) {
        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .nav {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

        }
    }